/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-positioning/img/bgtile.png");
  background-repeat: repeat-x;
}

.bigcontainer {
  background-color: ;
  margin-top: 100px
}

.phonepicture {
  float: left;
  width: 20%;
  margin-left: 10%;
}

.maintext {
  float: right;
  width: 500px;
  margin-right: 10%;
}

.contentheader {
  display: block;
  width: 450px;

}

.instagramlogo {
  display: inline-block;
  float: left;

}

.home {
  float: left;
  display: inline;
}

.words {
  float: right;
  margin: 5px;
}

.loginicon {
  display: inline-block;
  float: right;
  background-color: #1c5380;
  color: white;
  padding: 10px;
  border: 1px #06365f solid;
  border-radius: 2px;
}

.paragraphcontainer {
background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-positioning/img/frame.png");
background-repeat: no-repeat;
clear: both;
width: 500px;
}

.paragraph {
  width: 440px;
  margin: 30px 30px;
}

h2 {
  padding-top: 30px;
  color: #1c5380;
}

.logos {
  width: 500px;
}

.apple {
  float: left;
  margin: 8%;
}

.playstore {
  float: right;
  margin: 8%;
}

.footer {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
}

li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

a, a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #1c5380;
  padding: 10px;
}

a:hover {
  color:#ff0000;
}

a:click {
  color: green;
}

/*#copyright {
  color: grey;
  margin-left: 5%;
}*/

.hyper {
  display: inline-block;
}

.copyright {
  display: inline-block;
  color: grey;
  font-weight: bold;
  margin-left: 30px;
}
